<div class="module-setting">
    <ol class="breadcrumb fn-clearfix">
        <li>网站维护</li>
        <li>免手续费名单</li>
    </ol>
    
	<div class="ui-box">
        <div class="body-title">免交易手续费白名单</div>
        <form class="form-inline ui-form" role="form">
            <div class="form-group ui-input-select">
                <input type="text"
                       class="form-control"
                       ng-model="vm.condition.uid"
                       style="width: 300px;"
                       placeholder="输入UID">
                <button type="submit"  class="btn btn-primary" ng-click="vm.addWhiteListconfig(vm.condition.uid)">添加</button>
            </div>
        </form>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th width="25%">创建时间</th>
                <th width="20%">ID</th>
                <th width="20%">UID</th>
                <th width="35%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.whiteList" ng-if="vm.isWhiteListLoading === false && vm.whiteList.length > 0">
                <td>{{$root.moment(item.createDate).utc().utcOffset($root.ZONE).format('YYYY-MM-DD HH:mm:ss')}}</td>
                <td>{{item.id}}</td>
                <td ng-click="vm.searchInfo(item.uid)"><a href="javascript:void(0)">{{item.uid}}</a></td>
                <td>
                    <a href="javascript:;"
                       ng-click="vm.deleteWhiteListconfig(item.uid)">删除</a>
                </td>
            </tr>
            <tr class="ui-no-data" ng-if="vm.isWhiteListLoading === false && (vm.whiteList.length === 0||vm.whiteList===null)">
                <td colspan="4">暂无数据</td>
            </tr>
            <tr class="ui-loading" ng-if="vm.isWhiteListLoading === true">
                <td colspan="4">正在加载，请稍候...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
