<div class="add-manual-bill-dialog">
    <form class="form-horizontal" role="form" name="formData">
        <div class="modal-header">
            <span style="float: right;cursor: pointer" ng-click="$$addManualBill.cancel()">x</span>
            <h5>添加人工账单</h5>
        </div>
        <div class="modal-body">
           <!-- <div class="form-group">
                <label for="assetType" class="col-sm-3 control-label">资产类型：</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="$$addManualBill.assetType" id="assetType">
                        <option value="CNY">人民币</option>
                        <option value="GOP">果仁</option>
                    </select>
                </div>
            </div>-->
            <div class="form-group">
                <label for="serNum" class="col-sm-3 control-label">订单/流水号：</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           ng-model="$$addManualBill.serNum"
                           id="serNum"
                           placeholder=""
                            required >
                </div>
            </div>
            <div class="form-group">
                <label for="payAccount" class="col-sm-3 control-label">付款方账号：</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           ng-model="$$addManualBill.payAccount"
                           id="payAccount"
                           required
                           placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="recvAccount" class="col-sm-3 control-label">收款方账号：</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           ng-model="$$addManualBill.recvAccount"
                           id="recvAccount"
                           required
                           placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-3 control-label">金额：</label>
                <div class="col-sm-8">
                    <input
                           class="form-control"
                           ng-model="$$addManualBill.amount"
                           id="amount"
                           name="amount"
                           ng-keyup="clearNoNum($$addManualBill,'amount')"
                           required
                           placeholder="">
                    <!--ng-pattern="/^[1-9]+[0-9]*(\.\d{0,4})?$/"-->
                    <!--<div style="height: 20px"><div ng-show="formData.amount.$invalid&&formData.amount.$dirty" style="color:red">金额格式错误</div></div>-->
                </div>
            </div>
            <div class="form-group">
                <label for="remark" class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" ng-model="$$addManualBill.remark" id="remark" required></textarea>
                </div>
            </div>
            <!--<div>{{$$item}}</div>-->
            <hr>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">密码：</label>
                <div class="col-sm-8">
                    <input type="password"
                           class="form-control"
                           ng-model="$$addManualBill.password"
                           id="password"
                           required
                           placeholder="请输入当前账号密码">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$$addManualBill.cancel()">取消</button>
            <button type="submit" class="btn btn-primary" ng-click="$$addManualBill.ok($$addManualBill)" ng-disabled="formData.$invalid">确定</button>
        </div>
    </form>
</div>
