<div class="add-manual-bill-dialog">
    <form class="form-horizontal" role="form" name="formData">
        <div class="modal-header">
            <span style="float: right;cursor: pointer" ng-click="$$dealBad.cancel()">x</span>
            <h5>坏账处理单</h5>
        </div>
        <div class="modal-body">
            <!--<div class="form-group">
                <label  class="col-sm-3 control-label">坏账操作类型：</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio" name="optType" id="optTypeAdd" value="ADD"  ng-model="$$dealBad.changeType" required> 增加
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optType" id="optTypeReduce" value="REDUCE" ng-model="$$dealBad.changeType" required> 减少
                    </label>
                </div>
            </div>-->

            <!--<div class="form-group">
                <label for="assetType" class="col-sm-3 control-label">坏账资产类型：</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="$$dealBad.assetType" id="assetType" required>
                        <option value="CNY">人民币</option>
                        <option value="GOP">果仁</option>
                    </select>
                </div>
            </div>-->

            <div class="form-group">
                <label for="amount" class="col-sm-3 control-label">坏账金额：</label>
                <div class="col-sm-8">
                    <input ng-keyup="clearNoNum($$dealBad,'amount')"
                           class="form-control"
                           ng-model="$$dealBad.amount"
                           id="amount"
                           name = "amount"
                           required
                           placeholder="">
                    <!--ng-pattern="/^[1-9]+[0-9]*(\.\d{0,4})?$/"-->
                    <!--<div style="height: 20px"> <div ng-show="formData.amount.$invalid" style="color:red">金额格式错误</div></div>-->
                </div>
            </div>
            <div class="form-group">
                <label for="remark" class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" ng-model="$$dealBad.remark" id="remark" required></textarea>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">密码：</label>
                <div class="col-sm-8">
                    <input type="password"
                           class="form-control"
                           ng-model="$$dealBad.password"
                           id="password"
                           required
                           placeholder="请输入当前账号密码">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$$dealBad.cancel()">取消</button>
            <button type="submit" class="btn btn-primary" ng-click="$$dealBad.ok($$dealBad)" ng-disabled="formData.$invalid" >确定</button>
        </div>
    </form>
</div>
