<div class="module-setting">
    <ol class="breadcrumb fn-clearfix">
        <!-- <li>公告发布</li> -->
        <li>会员配置</li>
    </ol>
    <div class="ui-box">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="assetCode" class="control-label">会员价格设置</label>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">数量</label>
                <div class="col-sm-3" style="display: flex;align-items: center;">
                    <input style="margin-right:6px" type="text" maxlength="50" class="form-control" ng-model="vm.form.member_price" placeholder="请输入会员价格" id="name"
                    />DFP
                </div>
                <div class="col-sm-7">
                    <span class="description">用户购买会员所需支付的金额</span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">&nbsp;</label>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit('MEMBER_APPLY_ASSET')">更新</button>
                </div>
            </div>
            <div class="form-group">
                <label for="assetCode" class="control-label">手续费奖励</label>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">直推上级奖励百分比</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.superior" maxlength="256" placeholder="请输入直推上级奖励百分比（0.1 - 1）" />
                </div>
                <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" ng-click="vm.submit('MEMBER_TRADE_FEE1')">修改</button>
                    </div>
                <div class="col-sm-6">
                    <span class="description">会员分配比率</span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">合伙人奖励百分比</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.member" maxlength="256" placeholder="请输入合伙人奖励百分比（0.1 - 1）" />
                </div>
                <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" ng-click="vm.submit('MEMBER_TRADE_FEE2')">修改</button>
                    </div>
                <div class="col-sm-6">
                    <span class="description">合伙人分配比率</span>
                </div>
            </div>
            <div class="form-group">
                <label for="assetCode" class="control-label">会员返手续费奖励币对配置</label>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">配置币对</label>
                <div class="col-sm-3 mem">
                    <input type="text" ng-click="vm.showCoin()" class="form-control" ng-model="vm.form.coin" placeholder="请选择币对" readonly/>
                    <div class="row moresel" ng-show="vm.isShow">
                        <label class="coinL" ng-repeat="item in vm.symbolList">
                            <div ng-click="vm.getCoin(item.value)" ng-model="item.value">{{item.value}}</div>
                        </label>
                    </div>
                </div>
                <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" ng-click="vm.submit('coin')">修改</button>
                    </div>
                <div class="col-sm-6">
                    <span class="description">会员分配比率</span>
                </div>
            </div>
            </div>
        </form>
    </div>

</div>
