<div class="module-notice module-notice-list1">
    <ol class="breadcrumb">
        <li>运营系统</li>
        <li>创建APP版本</li>
    </ol>
    <div class="ui-box">
        <form role="form">
            <div class="form-group">
                <label>更新平台</label>
                <select class="form-control"  ng-model="vm.form.device">
                    <option value="ANDROID">android</option>
                    <option value="IOS">ios</option>
                </select>
            </div>
            <div class="form-group">
                <label>版本号</label>
                <input type="text" class="form-control" id="exampleInputEmail2" maxlength="100"
                    ng-model="vm.form.version" placeholder="请输入APP版本号(如1.0.0)">
            </div>
            <div class="form-group">
                <label>更新内容</label>
                <textarea class="form-control" rows="3" placeholder="请输入更新内容" ng-model="vm.form.message"
                    id="remark"></textarea>
            </div>
            <div class="form-group">
                <label>强制更新</label>
                <select class="form-control"  ng-model="vm.form.updateFlag">
                    <option value="NO">不强制</option>
                    <option value="YES">强制</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="vm.submit()">创建</button>
        </form>
    </div>
</div>