<div class="module-account-google-auth">
    <ol class="breadcrumb fn-clearfix">
    	<li>超级管理员</li>
        <li>用户</li>
        <li>会员配置</li>
    </ol>


    <div class="ui-box">
        <form class="ui-form" role="form">
            <div class="form-group form-inline">
                <label class="form-label">账号</label>
                <input type="text"
                       class="form-control"
                       placeholder="请输入手机号"
                       ng-model="vm.account"
                       style="width: 300px;">
            </div>
            <div class="form-group form-inline">
                <label class="form-label">角色</label>
                <select class="form-control" ng-model="vm.createRole" style="width: 300px;">
                    <option value="">请选择</option>
                    <!--<option value="ACCOUNTANT">会计</option>-->
                    <!--<option value="CUSTOM_SERVICE">客服</option>-->
                    <option ng-repeat="item in roleList" value="{{item.roleId}}">{{item.roleName}}</option>
                </select>
                <span class="form-error-tip">{{vm.newPwdErrTip}}</span>
                <a style="margin-left: 15px;" href="#/role/add">添加角色</a>
            </div>
            <div class="form-group form-inline">
                <label class="form-label">用户名</label>
                <input type="text"
                       placeholder="请输入姓名"
                       class="form-control "
                       ng-model="vm.userName"
                       style="width: 300px;">
            </div>
            <div class="form-group form-inline">
                <label class="form-label">密码</label>
                <input type="text"
                       class="form-control"
                       readonly
                       ng-model="vm.password"
                       style="width: 300px;">
            </div>
            <div class="form-group ui-input-select">
                <button type="submit"
                        style="width: 300px;"
                        ng-disabled="vm.account === '' || vm.createRole === '' || vm.userName === ''"
                        class="btn btn-primary form-btn"
                        ng-click="vm.create()">确定</button>
            </div>
        </form>
    </div>
</div>
