<div class="module-gop">
    <ol class="breadcrumb fn-clearfix">
        <li>资产管理</li>
        <!-- <li>{{vm.coinType.toUpperCase()}}</li> -->
        <li>摆盘服务</li>
    </ol>
    <div class="panel panel-warning">
        <div class="panel-body">
            <form class="form ui-form" role="form">
                <h4 class="form-title">选择交易所</h4>
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="111">
                            okex
                        </label>
                    </div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="222">
                            cobiincho
                        </label>
                    </div>
                </div>
                <h4 class="form-title">选择币种</h4>
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="111">
                            BTC
                        </label>
                    </div>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" value="222">
                            ETH
                        </label>
                    </div>
                </div>
                <div class="btn-form">
                    .ui-
                </div>
            </form>
        </div>
    </div>

    <div class="ui-box">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th width="12%">提交时间</th>
                <!-- <th width="5%">ID</th> -->
                <th width="5%">UID</th>
                <th width="47%">钱包地址</th>
                <th width="5%">币种</th>
                <th width="8%">数量</th>
                <th width="8%">状态</th>
                <th width="15%">附言</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.list" ng-if="vm.isLoading === false && vm.list.length > 0">
                <td>{{$root.moment(item.createDate).utc().utcOffset($root.ZONE).format('YYYY-MM-DD HH:mm:ss')}}</td>
                <!-- <td>{{item.id}}</td> -->
                <td ng-click="vm.searchInfo(item.uid)"><a href="javascript:void(0)">{{item.uid}}</a></td>
                <td>{{item.address}}</td>
                <td>{{coinType}}</td>
                <td>{{item.amount}}</td>
                <td ng-class="{
                    orangetradedetail:(item.status=='WAITING'|| item.status=='PROCESSING'),
                    greentradedetail:(item.status=='SUCCESS'),
                    purpletradedetail:(item.status=='FAILURE'),
                    redtradedetail:(item.status=='REFUSE'),
                    graytradedetail:(item.status=='CANCEL')}" >
                    {{item.status | gopInStatus}}
                </td>
                <td>{{item.msg}}</td>
            </tr>
            <tr class="ui-no-data" ng-if="vm.isLoading === false && (vm.list.length === 0||vm.list===null)">
                <td colspan="7">暂无数据</td>
            </tr>
            <tr class="ui-loading" ng-if="vm.isLoading === true">
                <td colspan="7">正在加载，请稍候...</td>
            </tr>
            </tbody>
        </table>

        <div class="ui-pager-box" ng-if="vm.totalNum > 0">
            <ul uib-pagination
                previous-text="上一页"
                next-text="下一页"
                first-text="首页"
                last-text="尾页"
                total-items="vm.totalNum"
                ng-model="vm.condition.pageNo"
                max-size="5"
                items-per-page="vm.pageSize || 10"
                align="right"
                class="pagination"
                boundary-links="true"
                ng-change="vm.pageChanged()"
                rotate="false"></ul>
        </div>
    </div>
</div>
