<div class="module-notice module-notice-list">
    <ol class="breadcrumb">
        <li><a href="#/notice/list">公告</a></li>
        <li class="active">发布资产代码</li>
    </ol>
    <div class="ui-box">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">资产名</label>
                <input type="text" class="form-control" id="exampleInputEmail1" maxlength="100" ng-model="vm.form.title"
                    placeholder="请输入公告标题">
            </div>
            <div class="form-group">
                <label for="time">资产图标</label>
                <div class="out-border">
                    <input type="file" class="fileLabel file-img" ngf-select="vm.uploadFile($file, $invalidFiles)" ng-model="vm.name"
           name="{{vm.name}}" ngf-max-size="5MB" ngf-accept="'image/*'"/>
                    <img class="sck" ng-src="{{imgs.lock}}" alt="">
                    <img class="sck" ng-src="{{vm.name}}" alt="">
                </div>
            </div>
            <!-- <div class="form-group">
                <label>内容</label>
                <script type="text/plain" id="myEditor" style="width: 100%; height: 340px"></script>
            </div> -->
            <button type="submit" class="btn btn-primary" ng-click="vm.submit()">添加</button>
        </form>
    </div>
</div>