/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/27
 */
.module-notice-list .link {
  margin-right: 5px;
}
.module-notice-list .link:last-child {
  margin-right: 0;
}
.module-notice-list .file-img {
  opacity: 0;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 999;
}
.module-notice-list .out-border {
  width: 150px;
  height: 150px;
  position: relative;
}
.module-notice-list .sck {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
}
