<div class="companyadd">
    <div class="companyadd-title">添加企业用户</div>
    <hr style="border:solid 1px grey" />
    <div class="companyadd-paneltitle">企业信息录入</div>
    <ul class="companyadd-panel">
        <li class="companyadd-panel-item">
            <p class="companyadd-panel-item-input">
                <span>
                    企业名称
                </span>
                    <input type="text" name="name" id="name">
            </p>
            <p class="companyadd-panel-item-input">
                <span>企业类型</span>
                <gy-select class="companyadd-gyselect"></gy-select>
            </p>
            <p class="companyadd-panel-item-input">
                    <span>法定代表人</span>
                    <input type="text" name="people" id="people">
            </p>
        </li>


        <li class="companyadd-panel-item">
            <p class="companyadd-panel-item-input">
                <span>
                    国家
                </span>
                    <gy-select class="companyadd-gyselect"></gy-select>
            </p>
            <p class="companyadd-panel-item-input">
                <span>省份</span>
                <gy-select class="companyadd-gyselect"></gy-select>
            </p>
            <p class="companyadd-panel-item-input">
                <span>
                    注册资本
                </span>
                    <input type="text" name="people" id="people">
            </p>
        </li>


        <li class="companyadd-panel-item">
            <p class="companyadd-panel-item-input">
                <span>
                    成日日期
                </span>
                    <gy-select class="companyadd-gyselect"></gy-select>
            </p>
            <p class="companyadd-panel-item-input">
                <span>经营期限</span> 
                <gy-select class="companyadd-gyselect"></gy-select>
            </p>
            <p class="companyadd-panel-item-input">
                <span>
                    经营范围
                </span>
                    <input type="text" name="people" id="people">
                
            </p>
        </li>
    </ul>


	<div class="companyadd-panel-save">
		<span class="companyadd-panel-savebtn">保存并添加</span>
	</div>

	<div class="line-a"></div>

	<div class="companyadd-panel-inforbox">
		<p class="companyadd-panel-inforbox-num">企业编码分配</p>
		<p class="companyadd-panel-numdis">
			<span class="companyadd-panel-numdis-left">企业编码</span>
			<span class="companyadd-panel-numdis-right"></span>
		</p>
	</div>

</div>
