/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/27
 */
.module-setting-symbol .coin-input {
  padding: 0 4px;
  height: 30px;
}
.module-setting-symbol .btn {
  font-size: 12px;
  padding: 4px 6px;
}
.module-setting-symbol select {
  min-width: 60px;
}
.module-setting-symbol .form-control {
  height: 30px;
  padding: 0 12px;
}
.module-setting-symbol .f-flex {
  position: relative;
}
.module-setting-symbol .f-flex .title {
  float: left;
}
.module-setting-symbol .m-title {
  position: relative;
  float: left;
}
.module-setting-symbol .tips {
  position: absolute;
  top: 35px;
  left: 50%;
  background: #4a4c5b;
  border-radius: 4px;
  transform: translateX(-50%);
  width: 350px;
  padding: 10px;
  margin-left: 2px;
  color: #ffffff;
  pointer-events: none;
}
.module-setting-symbol .tips:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 16px;
  border-bottom-color: currentColor;
  color: #4a4c5b;
}
.module-setting-symbol .explain {
  width: 15px;
  height: 15px;
  margin-left: 4px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
