<div class="module-setting module-setting-symbol">
	<ol class="breadcrumb fn-clearfix">
		<li>网站维护</li>
		<li>交易配置</li>
	</ol>

	<div class="ui-box">
		<div class="body-title">交易手续费及交易挂单控制
			<br>
			<br>
			<div class="alert alert-warning" role="alert">
				<p class="tip">挂单开关说明：</p>
				<p class="tip">开启：开通正常交易</p>
				<p class="tip">关闭：不允许进入页面，不允许挂单，不允许撤单，前台置灰展示（前台展示开关展示的情况下）</p>
				<p class="tip">下线：允许进入页面，不允许挂单，允许撤单，前台高亮展示（前台展示开关展示的情况下）</p>
			</div>
			<div class="alert alert-warning" role="alert">
				<p class="tip">前台展示开关说明：</p>
				<p class="tip">展示：前台展示该交易对，但是否能够挂单进行交易，取决于挂单开关的配置</p>
				<p class="tip">隐藏：前台隐藏该交易对</p>
			</div>
		</div>
		<div style="max-width:1200px; overflow-x:scroll;">
			<table style="width: 1200px;" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>名称</th>
						<th>币种排名</th>
						<th>交易币种
							<br>数量精度
						</th>
						<th>计价币种
							<br>价格精度
						</th>
						<th>计价币种
							<br>高亮位数
						</th>
						<th>交易手续费</th>
						<!-- <th>锁仓可用<br>比例</th> -->
						<th>价格上浮<br>系数</th>

						<th class="f-flex"><span class="title">当天可一键<br>卖出次数</span>
							<div class="m-title">
								<div class="tips" ng-show="vm.tip4" style="width: 200px;">该参数仅对解封区交易对有效</div>
								<div class="explain" ng-mouseenter="vm.explain('4')" ng-mouseout="vm.out('4')">?</div>
							</div>
						</th>
						<th>交易对分区</th>
						<th>挂单开关</th>
						<th>前台展示开关</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<!-- ng-click="vm.rowEdit(item)" -->
					<tr ng-repeat="item in vm.list" ng-if="vm.isListLoading === false && vm.list.length > 0">
						<td>{{item.title}}</td>
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item.rank}}</label>
								</div>
							</form>
						</td>
						<!-- 数量精度 -->
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item[vm.config.AMOUNTPRECISION]}}</label>
								</div>
							</form>
						</td>
						<!-- 价格精度 -->
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item[vm.config.PRICEPRECISION]}}</label>
								</div>
							</form>
						</td>
						<!--高亮位数-->
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item[vm.config.HIGHLIGHTNO]}}</label>
								</div>
							</form>
						</td>
						<!--交易手续费-->
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item[vm.config.ASSETFEERATE]}}%</label>
								</div>
							</form>
						</td>
						<!--锁仓可用比例-->
						<!-- <td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item[vm.config.MATCH_LOCKING_AVAILABL] || 0}}%</label>
								</div>
							</form>
						</td> -->
						<!--价格上浮系数-->
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{(item[vm.config.FIXED_PRICE_UP_RATE] || 0)}}</label>
								</div>
							</form>
						</td>
						<!--当天可一键卖出次数-->
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item[vm.config.DAY_LOCKING_SELL_NUMBER] || 0}}</label>
								</div>
							</form>
						</td>
						<!--交易区-->
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item.region=='STANDRARD'?'标准区':item.region=='INNOVATION'?'创新区':item.region=='UNSEALING'?'解封区':'开放区'}}</label>
								</div>
							</form>
						</td>
						<!--交易开关-->
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item.status===
										vm.STATUS_NOT_OPEN?'未开启':item.status===vm.STATUS_HAS_OPEN?'已开启':'已下线'}}</label>
								</div>
							</form>
						</td>
						<td>
							<form class="form-inline">
								<div class="form-group">
									<label>{{item.SHOWSTATUS==='ON'?'已展示':item.SHOWSTATUS==='OFF'?'已隐藏':''}}</label>
								</div>
							</form>
						</td>
						<!-- 操作--编辑 -->
						<td>
							<form class="form-inline">
								<a href="javascript:;" ng-click="vm.rowEdit(item)" class="btn btn-success">编辑</a>
							</form>
						</td>
					</tr>
					<tr class="ui-no-data" ng-if="vm.isListLoading === false && (vm.list.length === 0||vm.list===null)">
						<td colspan="8">暂无数据</td>
					</tr>
					<tr class="ui-loading" ng-if="vm.isListLoading === true">
						<td colspan="8">正在加载，请稍候...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- ng-if="vm.showEdit" -->
	<form class="form-horizontal edit-form" role="form" ng-if="vm.showEdit">
		<div class="title">
			<div>更新<span class="topTitle">{{vm.oldRowData.title}}</span>交易配置</div>
			<div class="closeBtn" ng-click="vm.showEdit = false">X</div>
		</div>
		<!-- <div class="form-group">
			<label class="col-sm-5 control-label">名称</label>
			<div class="col-sm-5">
				<input disabled class="form-control" placeholder="名称" ng-model="vm.oldRowData.title">
			</div>
		</div> -->
		<div class="out-box">
			<div class="form-group">
				<label class="col-sm-5 control-label">币种排名</label>
				<div class="col-sm-5">
					<input type="number" class="form-control" placeholder="币种排名" ng-model="vm.oldRowData.rank">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label">交易币种数量精度</label>
				<div class="col-sm-5">
					<input type="number" step="0.01" class="form-control" placeholder="交易币种数量精度"
						ng-model="vm.oldRowData.AMOUNTPRECISION">
				</div>
			</div>
		</div>
		<div class="out-box">

			<div class="form-group">
				<label class="col-sm-5 control-label">计价币种价格精度</label>
				<div class="col-sm-5">
					<input type="number" step="0.01" class="form-control" placeholder="计价币种价格精度"
						ng-model="vm.oldRowData.PRICEPRECISION">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label">计价币种高亮位数</label>
				<div class="col-sm-5">
					<input type="number" class="form-control" placeholder="计价币种高亮位数"
						ng-model="vm.oldRowData.HIGHLIGHTNO">
				</div>
			</div>
		</div>
		<div class="out-box">
			<div class="form-group">
				<label class="col-sm-5 control-label">交易手续费</label>
				<div class="col-sm-5">
					<input type="number" step="0.01" class="form-control" placeholder="交易手续费"
						ng-model="vm.oldRowData.ASSETFEERATE">%
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-sm-5 control-label">锁仓可用比例</label>
				<div class="col-sm-5">
					<input type="number" step="0.01" class="form-control" placeholder="锁仓可用比例"
						ng-model="vm.oldRowData.MATCH_LOCKING_AVAILABL">%
				</div>
			</div> -->
			<div class="form-group">
				<label class="col-sm-5 control-label">价格上浮系数</label>
				<div class="col-sm-5">
					<input type="number" step="0.01" class="form-control" placeholder="价格上浮系数"
						ng-model="vm.oldRowData.FIXED_PRICE_UP_RATE">%
				</div>
			</div>
		</div>
		<div class="out-box">
			

			<div class="form-group">
				<label class="col-sm-5 control-label">当天可一键卖出次数</label>
				<div class="col-sm-5">
					<input type="number" class="form-control" placeholder="当天可一键卖出次数"
						ng-model="vm.oldRowData.DAY_LOCKING_SELL_NUMBER">
				</div>
			</div>
		</div>
		<!-- 交易对分区，挂单开关，前台展示开关 -->
		<div class="out-box">
			<div class="form-group">
				<label class="col-sm-5 control-label">交易对分区</label>
				<div class="col-sm-5" style="display: inline-block;">
					<select class="form-control" ng-model="vm.oldRowData.region">
						<option value="STANDRARD">标准区</option>
						<option value="INNOVATION">创新区</option>
						<option value="UNSEALING">解封区</option>
						<option value="OPENING">开放区</option>
					</select>
				</div>
			</div>
			<!-- 占位用 -->
			<div class="form-group none"></div>
		</div>
		<div class="out-box">
			<div class="form-group flex">
				<label class="col-sm-5 control-label">挂单开关</label>
				<div class="col-sm-12">
					
					<div class="status-box" ng-if="vm.oldRowData.status === vm.STATUS_NOT_OPEN">
						<a href="javascript:;" ng-click="vm.oldRowData.status = vm.STATUS_HAS_OPEN"
							class="btn btn-default">开启</a>
						<a href="javascript:;" disabled
							ng-class="{'INIT': 'btn-success','LISTED': 'btn-default','DELISTED': 'btn-default'}[vm.oldRowData.status]"
							class="btn btn-default">关闭</a>
						<a href="javascript:;" disabled
							class="btn btn-default">下线</a>
					</div>
					<div class="status-box" ng-if="vm.oldRowData.status === vm.STATUS_HAS_OPEN">
						<a href="javascript:;"
							ng-class="{'LISTED': 'btn-success','INIT': 'btn-default','DELISTED': 'btn-default'}[vm.oldRowData.status]"
							class="btn btn-default">开启</a>
						<a href="javascript:;" ng-click="vm.oldRowData.status = vm.STATUS_NOT_OPEN"
							class="btn btn-default">关闭</a>
						<a href="javascript:;" ng-click="vm.oldRowData.status = vm.STATUS_CLOSED"
							class="btn btn-default">下线</a>
					</div>
					<div class="status-box" ng-if="vm.oldRowData.status === vm.STATUS_CLOSED">
						<a href="javascript:;" disabled class="btn btn-success">开启</a>
						<a href="javascript:;" disabled class="btn btn-default">关闭</a>
						<a href="javascript:;" ng-click="vm.oldRowData.status = vm.STATUS_HAS_OPEN"
						ng-class="{'DELISTED': 'btn-warning','INIT': 'btn-default','LISTED': 'btn-default'}[vm.oldRowData.status]"
							class="btn btn-default">上线</a>
					</div>
				</div>
			</div>
		</div>
		<div class="out-box">
			<div class="form-group flex">
				<label class="col-sm-5 control-label">前台展示开关</label>
				<div class="col-sm-12">
					<div class="status-box">
						<a href="javascript:;"
							ng-click="vm.oldRowData.SHOWSTATUS = 'ON'"
							ng-class="{'ON': 'btn-success', 'OFF': 'btn-default'}[vm.oldRowData.SHOWSTATUS]"
							class="btn">展示</a>
						<a href="javascript:;"
							ng-click="vm.oldRowData.SHOWSTATUS = 'OFF'"
							ng-class="{'OFF': 'btn-success', 'ON': 'btn-default'}[vm.oldRowData.SHOWSTATUS]"
							class="btn btn-default">隐藏</a>
					</div>
				</div>
			</div>
		</div>


		<div class="form-group">
			<div class="col-sm-12" style="text-align: center;">
				<button style="margin-top: 24px;" type="submit" class="btn btn-default submitBtn" ng-click="vm.confirmEdit(vm.oldRowData)">确认更新</button>
			</div>
		</div>
	</form>
</div>