<div class="module-cashout">
    <ol class="breadcrumb">
        <li>散户管理</li>
        <li>USD</li>
        <li>Withdrawal 提现审核</li>
    </ol>
    <div class="panel panel-warning">
        <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title"></h3>-->
        <!--</div>-->
        <div class="panel-body">
            <form class="form-inline ui-form" role="form" ng-submit="vm.search()">
                <div class="form-group">
                    <select class="form-control" ng-model="condition.status">
                        <option value="">全部</option>
                        <option ng-value="CONFIG.STATUS_CASH_OUT_PROCESSING.KEY">{{CONFIG.STATUS_CASH_OUT_PROCESSING.TEXT}}</option>
                        <option ng-value="CONFIG.STATUS_CASH_OUT_WAIT.KEY">{{CONFIG.STATUS_CASH_OUT_WAIT.TEXT}}</option>
                        <option ng-value="CONFIG.STATUS_CASH_OUT_UNKNOWN.KEY">{{CONFIG.STATUS_CASH_OUT_UNKNOWN.TEXT}}</option>
                        <option ng-value="CONFIG.STATUS_CASH_OUT_SUCCESS.KEY">{{CONFIG.STATUS_CASH_OUT_SUCCESS.TEXT}}</option>
                        <option ng-value="CONFIG.STATUS_CASH_OUT_CANCEL.KEY">{{CONFIG.STATUS_CASH_OUT_CANCEL.TEXT}}</option>
                        <option ng-value="CONFIG.STATUS_CASH_OUT_FAILURE.KEY">{{CONFIG.STATUS_CASH_OUT_FAILURE.TEXT}}</option>
                    </select>
                </div>
                <div class="form-group ui-input-select">
                    <input type="text" class="form-control" ng-model="keyword" placeholder="按类别搜索信息">
                    <select class="form-control" ng-model="type">
                        <option value="id">ID</option>
                        <option value="uId">uid</option>
                    </select>
                </div>
                <!-- Split button -->
                <!--<div class="btn-group">-->
                    <!--<button type="button" class="btn btn-default">ID</button>-->
                    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                        <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li>-->
                            <!--<a href="javascript:;">ID</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">uid</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">姓名</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <button type="submit" class="btn btn-warning">搜索</button>
            </form>
        </div>
    </div>

    <div class="ui-box">
        <table class="table table-striped table-hover">
            <caption>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <img class="img" width="18" ng-src="{{imgs.ok}}" alt="OKPay" title="OKPay">
                        <span class="form-text">OKPay</span>
                    </div>
                    <div class="form-group">
                        <img class="img" width="18" ng-src="{{imgs.lock}}" alt="锁定" title="锁定">
                        <span class="form-text">锁定</span>
                    </div>
                    <div class="form-group">
                        <img class="img" width="18" ng-src="{{imgs.unlock}}" alt="解锁" title="解锁">
                        <span class="form-text">解锁</span>
                    </div>
                    <div class="form-group">
                        <img class="img" width="18" ng-src="{{imgs.right}}" alt="确定" title="确定">
                        <span class="form-text">确定</span>
                    </div>
                    <div class="form-group">
                        <img class="img" width="18" ng-src="{{imgs.cancel}}" alt="撤销" title="撤销">
                        <span class="form-text">撤销</span>
                    </div>
                    <div class="form-group">
                        <img class="img" width="18" ng-src="{{imgs.wrong}}" alt="退款" title="退款">
                        <span class="form-text">退款</span>
                    </div>
                </form>
            </caption>
            <thead>
            <tr>
                <th width="14%">提交时间</th>
                <th width="8%">id</th>
                <th width="8%">uid</th>
                <th width="10%">姓名</th>
                <th width="12%">账号</th>
                <th width="10%">申请金额($)</th>
                <th width="10%">实付金额($)</th>
                <th width="8%">状态</th>
                <th width="12%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list"
                ng-class="{'yellow': item.status === CONFIG.STATUS_CASH_OUT_PROCESSING.KEY}"
                ng-if="isLoading === false && list.length > 0">
                <td>{{$root.moment(item.createDate).utc().utcOffset($root.ZONE).format('YYYY-MM-DD HH:mm:ss')}}</td>
                <td>{{item.id}}</td>
                <td>
                    <a href="javascript:;" ng-click="vm.detail(item)">{{item.uid}}</a>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.channelAccountNo}}</td>
                <td>{{item.applyAmount }}</td>
                <td>{{item.realAmount }}</td>
                <td>
                    <span class="text text--orange"
                          ng-if="item.status === CONFIG.STATUS_CASH_OUT_PROCESSING.KEY">{{CONFIG.STATUS_CASH_OUT_PROCESSING.TEXT}}</span>
                    <span class="text text--orange"
                          ng-if="item.status === CONFIG.STATUS_CASH_OUT_WAIT.KEY">{{CONFIG.STATUS_CASH_OUT_WAIT.TEXT}}</span>
                    <span class="text text--orange"
                          ng-if="item.status === CONFIG.STATUS_CASH_OUT_UNKNOWN.KEY">{{CONFIG.STATUS_CASH_OUT_UNKNOWN.TEXT}}</span>
                    <span class="text text--gray"
                          ng-if="item.status === CONFIG.STATUS_CASH_OUT_SUCCESS.KEY">{{CONFIG.STATUS_CASH_OUT_SUCCESS.TEXT}}</span>
                    <span class="text text--gray"
                          ng-if="item.status === CONFIG.STATUS_CASH_OUT_CANCEL.KEY">{{CONFIG.STATUS_CASH_OUT_CANCEL.TEXT}}</span>
                    <span class="text text--gray"
                          ng-if="item.status === CONFIG.STATUS_CASH_OUT_FAILURE.KEY">{{CONFIG.STATUS_CASH_OUT_FAILURE.TEXT}}</span>
                </td>
                <td>
                    <div class="link-groups"
                         ng-if="item.status === CONFIG.STATUS_CASH_OUT_PROCESSING.KEY && item.payMode === CONFIG.PAY_MODE_OFFLINE.KEY">
                        <a href="javascript:;" class="link" ng-click="vm.unlock(item)">
                            <img ng-src="{{imgs.lock}}" width="18" alt="锁定" title="锁定">
                        </a>
                        <a href="javascript:;" class="link" ng-click="vm.openPassDialog(item, CONFIG.TYPE_OPER_RIGHT)">
                            <img ng-src="{{imgs.right}}" width="18" alt="确定" title="确定">
                        </a>
                        <a href="javascript:;" class="link" ng-click="vm.openPassDialog(item, CONFIG.TYPE_OPER_WRONG)">
                            <img ng-src="{{imgs.wrong}}" width="18" alt="退款" title="退款">
                        </a>
                    </div>
                    <div class="link-groups"
                         ng-if="item.status === CONFIG.STATUS_CASH_OUT_WAIT.KEY || item.status === CONFIG.STATUS_CASH_OUT_UNKNOWN.KEY">
                        <a href="javascript:;" class="link" ng-click="vm.lock(item)">
                            <img ng-src="{{imgs.unlock}}" width="18" alt="解锁" title="解锁">
                        </a>
                        <a href="javascript:;" class="link" ng-click="vm.openPassDialog(item, CONFIG.TYPE_OPER_OKPAY)">
                            <img ng-src="{{imgs.ok}}" width="18" alt="OKPay" title="OKPay">
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="ui-no-data" ng-if="isLoading === false && (list.length === 0||list===null)">
                <td colspan="12 ">暂无数据</td>
            </tr>
            <tr class="ui-loading" ng-if="isLoading === true">
                <td colspan="12">正在加载，请稍候...</td>
            </tr>
            </tbody>
        </table>

        <div class="ui-pager-box" v-if="totalNum > 0">
            <ul uib-pagination
                previous-text="上一页"
                next-text="下一页"
                first-text="首页"
                last-text="尾页"
                total-items="totalNum"
                ng-model="condition.pageNo"
                max-size="5"
                items-per-page="pageSize || 10"
                align="right"
                class="pagination"
                boundary-links="true"
                ng-change="vm.pageChanged()"
                rotate="false"></ul>
        </div>
    </div>


</div>
