<!--
 * @Description: 
 * @version: 
 * @Author: chenchuhua
 * @Date: 2021-08-30 10:36:36
 * @LastEditors: chenchuhua
 * @LastEditTime: 2021-08-31 17:00:22
-->
<div class="panel-wrap">
    <ol class="breadcrumb fn-clearfix">
        <li>DPCP Box</li>
        <li>参数配置</li>
    </ol>
    <div class="ui-box">
        <form class="form-horizontal" role="form" style="line-height: 36px;">
            <div class="title">铸币系数</div>
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="col-sm-5">基础铸币系数(每日)：</div>
                    <span>10%</span>
                    <span class="btn btn-primary col-md-offset-1">更新</span>
                    <span class="btn btn-default">编辑</span>
                </div>
                <div class="col-sm-6">
                    <div class="name">查询邀请码</div>
                    <input type="text" class="form-control" maxlength="50" placeholder="请输入地址" id="inviteCode" />
                    <div>邀请码为：0x34355hf</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="col-sm-5">预期铸币比例：</div>
                    <span>10%</span>
                    <div class="col-sm-8">
                    <div>
                        <span>7天： 10%</span>
                        <span>30天： 12%</span>
                    </div>
                    <div>
                        <span>90天： 150%</span>
                        <span>180天： 20%</span>
                    </div>
                    <div>
                        <span class="btn btn-primary">编辑</span>
                        <span class="btn btn-default">保存</span>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="name">查询地址</div>
                    <input type="text" class="form-control" maxlength="50" placeholder="请输入邀请码" id="inviteCode" />
                    <div>地址为：0xcb59ae262e60c4b365cfa422b0a737588c89d7dab1db4d3ab9e5464e6</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="col-sm-4">容忍度（超过预期铸币的比例）：
                    </div>
                    <span>10%</span>
                    <span class="btn btn-primary col-md-offset-1">更新</span>
                    <span class="btn btn-default">编辑</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="col-sm-4">增减系数（超过容忍度后浮动比例）：
                    </div>
                    <span>10%</span>
                    <span class="btn btn-primary col-md-offset-1">更新</span>
                    <span class="btn btn-default">编辑</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="col-sm-4">会员加成系数：
                    </div>
                    <span>10%</span>
                    <span class="btn btn-primary col-md-offset-1">更新</span>
                    <span class="btn btn-default">编辑</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="col-sm-4">会员分享铸币比例：
                    </div>
                    <span>10%</span>
                    <span class="btn btn-primary col-md-offset-1">更新</span>
                    <span class="btn btn-default">编辑</span>
                </div>
            </div>

        </form>
    </div>

</div>