<div class="error-history">
	<div class="m-table-flex">
		<div class="thead">
			<div class="tr">
				<div class="th" style="width: 3%"></div>
				<div class="th" style="width: 20%">差错流水号</div>
				<div class="th" style="width: 20%">对账批次号</div>
				<div class="th" style="width: 8%">用户/商户</div>
				<div class="th" style="width: 8%">业务类型</div>
				<div class="th" style="width: 8%">差错类型</div>
				<!--<div class="th" style="width: 100px">坏账金额</div>-->
				<div class="th" style="width: 8%">处理方式</div>
				<div class="th" style="width: 25%">备注</div>
			</div>
		</div>
		<div class="tbody">
			<div class="item"  ng-repeat="item in vm.list" >
				<div class="tr">
					<div class="td" style="width: 3%">
						<a class="do" href="javascript:;" ng-click="vm.toggleDetail(item)">
							<i class="glyphicon"
							   ng-class="{'glyphicon-plus':(item.showDetail==false),'glyphicon-minus':(item.showDetail==true)}"></i>
						</a>
					</div>
					<div class="td" style="width: 20%">{{item.txNo}}</div>
					<div class="td" style="width: 20%">{{item.batchOutTxNo}}</div>
					<div class="td" style="width: 8%">{{item.userId}}</div>
					<div class="td" style="width: 8%">{{item.assetType.name+item.optTypeText}}</div>
					<div class="td" style="width: 8%">{{item.mismtach.name}}</div>
					<!--<div class="td" style="width: 100px">{{item.mismtach.badVal}}</div>-->
					<div class="td" style="width: 8%" ng-class="{'font-red':(item.fixOperationType=='BAD_ACCOUNT')}">{{item.fixOperationTypeText}}</div>
					<div class="td" style="width: 25%">{{item.remark}}</div>
				</div>
				<div class="detail" ng-if="item.showDetail==true">
					<div class="detail-box">
						<div class="m-table">
							<table width="100%">
								<thead>
								<tr>
									<th width="10%">来源</th>
									<th width="20%">流水号</th>
								</tr>
								</thead>
								<tbody>
								<tr >
									<td class="gray-bg">平台（源业务）</td>
									<td >{{item.sourOutTxNo}}</td>
								</tr>
								<tr >
									<td class="gray-bg">外部（目标业务）</td>
									<td >{{item.destOutTxNo}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="loading" ng-if="vm.isLoading === false && (!vm.list||vm.list.length === 0)">暂无数据</div>
		<div class="nodata" ng-if="vm.isLoading === true">正在加载，请稍后……</div>
	</div>


	<div class="ui-pager-box" ng-if="vm.totalNum > 0">
		<ul uib-pagination
			previous-text="上一页"
			next-text="下一页"
			first-text="首页"
			last-text="尾页"
			total-items="vm.totalNum"
			ng-model="vm.condition.pageNo"
			max-size="5"
			items-per-page="vm.condition.pageSize || 10"
			align="right"
			class="pagination"
			boundary-links="true"
			ng-change="vm.pageChanged()"
			rotate="false"></ul>
	</div>
</div>