<div class="module-setting">
    <ol class="breadcrumb">
        <li>锁仓计划</li>
        <li>参数配置</li>
    </ol>

    <div class="ui-box form-inline">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th width="10%">资产类型</th>
                <th width="15%">创建日期</th>
                <th width="15%">更新日期</th>
                <th width="15%">参数</th>
                <th width="20%">参数值</th>
                <th width="25%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.list" ng-if="vm.isLoading === false && vm.list.length > 0">
                <td>{{item.assetCode}}</td>
                <td>{{$root.moment(item.createDate).utc().utcOffset($root.ZONE).format('YYYY-MM-DD HH:mm:ss')}}</td>
                <td>{{$root.moment(item.updateDate).utc().utcOffset($root.ZONE).format('YYYY-MM-DD HH:mm:ss')}}</td>
                <td>{{item.profileKey}}</td>
                <td>
                    <span class="text" ng-if="item.profileKey === 'LOCKDAY'">{{item.profileValue}} 天</span>
                    <span class="text" ng-if="item.profileKey !== 'LOCKDAY'">{{item.profileValue}}</span>
                </td>
                <td>
                    <input type="number"
                           ng-model="item.inputValue"
                           class="form-control">
                    <a href="javascript:;"
                       ng-click="vm.updateConfig(item.assetCode, item.inputValue, item.profileKey)"
                       class="link">更新</a>
                </td>
            </tr>
            <tr class="ui-no-data" ng-if="vm.isLoading === false && (vm.list.length === 0||vm.list===null)">
                <td colspan="5">暂无数据</td>
            </tr>
            <tr class="ui-loading" ng-if="vm.isLoading === true">
                <td colspan="5">正在加载，请稍候...</td>
            </tr>
            </tbody>
        </table>

        <!--<div class="ui-pager-box" v-if="vm.totalNum > 0">-->
        <!--<ul uib-pagination-->
        <!--previous-text="上一页"-->
        <!--next-text="下一页"-->
        <!--first-text="首页"-->
        <!--last-text="尾页"-->
        <!--total-items="vm.totalNum"-->
        <!--ng-model="vm.condition.pageNo"-->
        <!--max-size="5"-->
        <!--items-per-page="vm.pageSize || 10"-->
        <!--align="right"-->
        <!--class="pagination"-->
        <!--boundary-links="true"-->
        <!--ng-change="vm.pageChanged()"-->
        <!--rotate="false"></ul>-->
        <!--</div>-->
    </div>



    <div class="ui-box form-inline">
        清算&发放
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th width="20%">资产类型</th>
                    <th width="20%">年份</th>
                    <th width="20%">月份</th>
                    <th width="40%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ACT</td>
                    <td>
                        <input type="text" id="year" maxlength="100" class="form-control"
                               ng-model="vm.year "
                               placeholder="请输入年份">
                    </td>
                    <td>
                        <select class="form-control" ng-model="vm.month">
                            <option ng-repeat="item in vm.months" ng-value="item.value" >{{item}}</option>
                        </select>
                    </td>
                    <td>
                        <a href="javascript:;" ng-click="vm.lockCalculateReward()">清算</a>
                        <a href="javascript:;" ng-click="vm.lockGrantReward()">发放</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="ui-box form-inline">
        强制解锁
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th width="20%">资产类型</th>
                <th width="20%">用户UID</th>
                <th width="40%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{vm.unlock.assetCode}}</td>
                <td class="form-group ui-input-select">
                    <input type="text"
                           class="form-control"
                           ng-model="vm.unlock.uid"
                           placeholder="请输入要解锁用户的UID">
                </td>
                <td>
                    <a href="javascript:;" ng-click="vm.forceUnlock()">强制解锁</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</div>
