<div class="module-gop">
    <ol class="breadcrumb fn-clearfix">
        <li>资产管理</li>
        <li>充提规则</li>
    </ol>
    <div class="modules-rules">
        <div uib-tabset active="active">
            <div uib-tab index="0" heading="提现规则">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                        <th width="20%">币种</th>
                        <th widht="20%">提币手续费</th>
                        <th width="20%">单笔最小额</th>
                        <th width="20%">单笔最大额</th>
                        <th width="20%">提现开关</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coin in vm.coinListMap" ng-if="vm.isLoading === false">
                        <td>{{coin.assetCode}}</td>
                        <td>
                            <span class="text" style="margin-right: 5px;">{{vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMINFEE]}}</span>
                            <input type="number"
                                style="width: 100px;"
                                ng-model="vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMINFEE + '_INPUT']"
                                class="form-control">
                            <a href="javascript:;"
                            ng-click="vm.update(coin.assetCode, vm.config.WITHDRAWMINFEE, vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMINFEE + '_INPUT'])"
                            class="link">更新</a>
                        </td>
                        <td>
                            <span class="text" style="margin-right: 5px;">{{vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMIN]}}</span>
                            <input type="number"
                                style="width: 100px;"
                                ng-model="vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMIN + '_INPUT']"
                                class="form-control">
                            <a href="javascript:;"
                            ng-click="vm.update(coin.assetCode, vm.config.WITHDRAWMIN, vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMIN + '_INPUT'])"
                            class="link">更新</a>
                        </td>
                        <td>
                            <span class="text" style="margin-right: 5px;">{{vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMAX]}}</span>
                            <input type="number"
                                style="width: 100px;"
                                ng-model="vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMAX + '_INPUT']"
                                class="form-control">
                            <a href="javascript:;"
                            ng-click="vm.update(coin.assetCode, vm.config.WITHDRAWMAX, vm.coinListMap[coin.assetCode][vm.config.WITHDRAWMAX + '_INPUT'])"
                            class="link">更新</a>
                        </td>
                        <td>{{vm.withdraw[coin.value]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div uib-tab index="1" heading="充值规则">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                        <th width="20%">币种</th>
                        <th widht="40%">网络确认</th>
                        <th width="40%">充值开关</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coin in vm.coinListMap" ng-if="vm.isLoading === false">
                        <td>{{coin.assetCode}}</td>
                        <td>
                            <span class="text" style="margin-right: 5px;">{{vm.coinListMap[coin.assetCode][vm.config.ASSETCODECONFIRMNUM]}}</span>
                            <input type="number"
                                style="width: 100px;"
                                ng-model="vm.coinListMap[coin.assetCode][vm.config.ASSETCODECONFIRMNUM + '_INPUT']"
                                class="form-control">
                            <a href="javascript:;"
                            ng-click="vm.update(coin.assetCode, vm.config.ASSETCODECONFIRMNUM, vm.coinListMap[coin.assetCode][vm.config.ASSETCODECONFIRMNUM + '_INPUT'])"
                            class="link">更新</a>
                        </td>
                        <td>
                            <span class="text" ng-if="vm.coinListMap[coin.assetCode][vm.config.DEPOSITLEVEL_DEFAULT] === '-1'">关闭</span>
                            <span class="text" ng-if="vm.coinListMap[coin.assetCode][vm.config.DEPOSITLEVEL_DEFAULT] === '0'">开启</span>
                            <span class="status-box" ng-if="vm.coinListMap[coin.assetCode][vm.config.DEPOSITLEVEL_DEFAULT] === '-1'">
                                <a href="javascript:;"
                                ng-click="vm.updateDeposit(coin.assetCode, '0', '开启')"
                                class="btn btn-success">开启</a>
                                <a href="javascript:;"
                                disabled
                                ng-click="vm.updateDeposit(coin.assetCode, '-1', '关闭')"
                                class="btn btn-default">关闭</a>
                            </span>
                            <span class="status-box" ng-if="vm.coinListMap[coin.assetCode][vm.config.DEPOSITLEVEL_DEFAULT] === '0'">
                                <a href="javascript:;"
                                disabled
                                ng-click="vm.updateDeposit(coin.assetCode, '0', '开启')"
                                class="btn btn-success">开启</a>
                                <a href="javascript:;"
                                ng-click="vm.updateDeposit(coin.assetCode, '-1', '关闭')"
                                class="btn btn-default">关闭</a>
                            </span>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div uib-tab index="2" heading="等级规则">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                        <th width="25%">币种</th>
                        <th widht="25%">普通用户</th>
                        <th width="25%">初级实名</th>
                        <th width="25%">高级实名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coin in vm.coinListMap" ng-if="vm.isLoading === false">
                        <td>{{coin.assetCode}}</td>
                        <td>{{vm.withdrawFee[coin.value]}}</td>
                        <td>{{vm.withdrawMin[coin.value]}}</td>
                        <td>{{vm.withdrawMax[coin.value]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
