<div class="rmbmanage">
	<div class="rmbmanage-left">
		<div class="rmbmanage-left-title">企业资产管理</div>
		<form class="form-inline ui-form" role="form">
			<div class="form-group">
				账户：
				<!--<select class="form-control" ng-model="vm.condition.uid" ng-change="vm.changeUid()" >-->
				<!--<option ng-repeat="item in vm.uidList" ng-value="item" >{{item}}</option>-->
				<!--</select>-->
				<input type="text" class="form-control" ng-model="vm.condition.uid" style="width: 100px;" placeholder="输入uid">
			</div>
			<div class="form-group" style="margin-left: 20px;">
				资产类型：
				<!--  ng-change="vm.changeAssetCode()" -->
				<select class="form-control" ng-model="vm.condition.assetCode" ng-change="vm.changeAssetCode()">
					<option ng-repeat="item in $root.$coinList" ng-value="item.value">{{item.label}}</option>
				</select>
				<button type="submit" class="btn btn-primary" ng-click="vm.searchList()">搜索</button>

			</div>
			
		</form>
		<div class="rmbmanage-left-rmb">
			<div class="rmb-box">
				<span>{{vm.condition.assetCode}}可用：</span>
				<span style="margin-right: 50px">{{vm.currentAsset.availiable}}</span>
				<span>{{vm.condition.assetCode}}限制可用：</span>
				<span style="margin-right: 50px">{{vm.currentAsset.amountLockingAvailaible}}</span>
			</div>
			<div class="rmb-box" style="margin-top: 15px;">
				<span>{{vm.condition.assetCode}}冻结：</span>
				<span style="margin-right: 50px">{{vm.currentAsset.lock}}</span>
				<span>{{vm.condition.assetCode}}矿池：</span>
				<span>{{vm.currentAsset.amountLocking}}</span>
			</div>
		</div>
		<hr style="border-top:1px solid #ccc;width:520px;" />
		<div class="rmbmanage-left-button">
			<!-- <button ng-click="vm.init()">刷新</button> -->
		</div>
		<div class="rmbmanage-left-money">
			<div class="rmbmanage-left-money-in">
				<div class="money-title">资产转入</div>
				<input class="money-input" type="text" ng-model="vm.moneyvaluein" placeholder="输入本次资产注入金额" />
				<div class="money-password">管理员密码</div>
				<input class="money-input" type="password" ng-model="vm.passwordin" placeholder="密码">
				<div class="money-password">资产操作类型</div>
				<select class="form-control" ng-model="vm.operationType1">
					<option ng-repeat="item in vm.operationList1" ng-value="item.value">{{item.name}}</option>
				</select>
				<button class="money-btn" style="background:red;"
					ng-click="vm.brokerDeposit(vm.moneyvaluein,vm.passwordin)">补充</button>
			</div>
			<div class="rmbmanage-left-money-out">
				<div class="money-title">资产转出</div>
				<input class="money-input" type="text" ng-model="vm.moneyvalueout" placeholder="输入本次资产输出金额">
				<div class="money-password">管理员密码</div>
				<input class="money-input" type="password" ng-model="vm.passwordout" placeholder="密码">
				<div class="money-password">资产操作类型</div>
				<select class="form-control" ng-model="vm.operationType2">
					<option ng-repeat="item in vm.operationList2" ng-value="item.value">{{item.name}}</option>
				</select>
				<button class="money-btn" style="background:rgba(102, 153, 0, 1)"
					ng-click="vm.brokerWithdraw(vm.moneyvalueout,vm.passwordout)">提取</button>
			</div>
		</div>
	</div>
	<div class="rmbmanage-right">
		<div class="rmbmanage-right-record">现金流记录</div>
		<form class="form-inline ui-form" role="form">
			<div class="form-group">
				<select class="form-control" ng-model="vm.condition.type" ng-change="vm.searchList()">
					<option value="" selected>全部</option>
					<option value="IN">转入</option>
					<option value="OUT">转出</option>
				</select>
			</div>
		</form>
		<table class="table table-striped table-hover table-bordered clearfix" ng-table="vm.tableParams">
			<thead>
				<tr>
					<th class="first"> 时间 </th>
					<th class="first"> 资产类型 </th>
					<th class="first"> 资产来源 </th>
					<th class="first"> 金额 </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.list track by $index">
					<td>{{$root.moment(item.createDate).utc().utcOffset($root.ZONE).format('YYYY-MM-DD HH:mm:ss')}}</td>
					<td>{{item.assetCode}}</td>
					<td>
						{{item.source == 'BROKER' ? '券商账户' : item.source == 'INNER' ? '内部转账' :item.source == 'OUTER' ? '外部转账':'未知来源'}}
					</td>
					<td class="red-color" ng-show="item.amount>0">+{{item.amount}}</td>
					<td class="green-color" ng-show="item.amount<0">-{{-item.amount}}</td>
				</tr>
			</tbody>
		</table>
		<div class="ui-pager-box" v-if="vm.totalNum > 0">
			<ul uib-pagination previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" total-items="vm.totalNum"
				ng-model="vm.condition.pageNo" max-size="5" items-per-page="vm.condition.pageSize || 10" align="right"
				class="pagination" boundary-links="true" ng-change="vm.searchList()" rotate="false"></ul>
		</div>
	</div>
</div>