<div class="module-coin">
    <ol class="breadcrumb">
        <li>网站维护</li>
        <li>币种列表</li>
    </ol>
    <div class="ui-box form-inline">
        <div class="body-title">参数配置
            <div class="alert alert-warning" role="alert">
                <p class="tip">功能开关说明：</p>
                <p class="tip">开启：前台展示该资产</p>
                <p class="tip">关闭：前台不展示该资产</p>
            </div>
        </div>
        <div style="max-width:1250px; overflow-x:scroll;">
            <table style="width: 1250px;" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="th">资产名称</th>
                        <th class="th" style="min-width: 70px;">模型</th>
                        <th class="th" style="min-width: 70px;">支持公链</th>
                        <th class="th">充值可用比例</th>
                        <th class="th">充值矿池比例</th>
                        <th class="th">静态释放比例</th>
                        <th class="th">静态释放上限</th>
                        <th class="th">直推</th>
                        <th class="th">合伙人</th>
                        <th class="th">超级节点</th>
                        <th class="th">网络确认数</th>
                        <th class="th">充值开关</th>
                        <th class="th">提币（钱包）精度</th>
                        <th class="th">提币手续费</th>
                        <th class="th">提币最小额度</th>
                        <th class="th">提币最大额度</th>
                        <th class="th">功能开关</th>
                        <th class="th">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.coinListMap" ng-if="vm.isLoading === false">
                        <td>{{item.assetCode}}</td>
                        <!-- assetCode -->
                        <td>{{item.modelKey?(item.modelKey=='available'?'可用':'限制可用'):''}}</td>
                        <td><span style="white-space: nowrap;" ng-repeat="itemm in item.tokenType track by $index">{{itemm}} </span></td>
                        <td>{{item.AVAILABLE_PARAMETER?item.AVAILABLE_PARAMETER:0}}</td>
                        <td>{{item.MINING_POOL_PARAMETER?item.MINING_POOL_PARAMETER:0}}</td>
                        <td>{{item.STATIC_FREED_RATE?item.STATIC_FREED_RATE:0}}</td>
                        <td>{{item.STATIC_FREED_UPPER_LIMIT?item.STATIC_FREED_UPPER_LIMIT:0}}
                        </td>
                        <td>
                            {{item.DYNAMIC_RATE_DIRECT_PUSH?item.DYNAMIC_RATE_DIRECT_PUSH:0}}</td>
                        <td>{{item.DYNAMIC_RATE_PARTNER?item.DYNAMIC_RATE_PARTNER:0}}</td>
                        <td>{{item.DYNAMIC_RATE_SUPER_NODE?item.DYNAMIC_RATE_SUPER_NODE:0}}</td>
                        <td align="center">
                            <div class="text" style="margin-right: 5px;">
                                {{vm.coinListMap[item.assetCode][vm.config.ASSETCODECONFIRMNUM]}}</div>
                        </td>
                        <td>
                            <span class="text"
                                ng-if="vm.coinListMap[item.assetCode][vm.config.DEPOSITLEVEL_DEFAULT] === '-1'">关闭</span>
                            <span class="text" style="color: green;"
                                ng-if="vm.coinListMap[item.assetCode][vm.config.DEPOSITLEVEL_DEFAULT] === '0'">开启</span>

                        </td>
                       
                        <!-- 提币（钱包）精度 -->
                        <td align="center">
                            <div class="text" style="margin-right: 5px;">
                                {{vm.coinListMap[item.assetCode][vm.config.WITHDRAWPRECISION]}}</div>

                        </td>
                        <!-- 提币手续费 -->
                        <td align="center">
                            <div class="text" style="margin-right: 5px;">
                                {{vm.coinListMap[item.assetCode][vm.config.WITHDRAWMINFEE]}}</div>

                        </td>
                        <!-- 提币最小额度 -->
                        <td align="center">
                            <div class="text" style="margin-right: 5px;">
                                {{vm.coinListMap[item.assetCode][vm.config.WITHDRAWMIN]}}</div>

                        </td>
                        <!-- 提币最大额度 -->
                        <td align="center">
                            <div class="text" style="margin-right: 5px;">
                                {{vm.coinListMap[item.assetCode][vm.config.WITHDRAWMAX]}}</div>

                        </td>
                        <td>
                            <span class="text" ng-if="vm.coinListMap[item.assetCode].status === 'INIT'">关闭</span>
                            <span class="text" ng-if="vm.coinListMap[item.assetCode].status === 'LISTED'" style="color: green;">开启</span>
                        </td>
                        <td>
							<form class="form-inline">
								<a href="javascript:;" ng-click="vm.rowEdit(item)" class="btn btn-success">编辑</a>
							</form>
						</td>

                    </tr>
                    <tr class="ui-loading" ng-if="vm.isLoading === true">
                        <td colspan="9">正在加载，请稍候...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ui-box">
        <div class="form-container">
            <div class="body-title">提币每日限额</div>
            <p>说明：</p>
            <p>1、设置为"-1"，表示禁止转出</p>
            <p>2、设置为"0"，表示转出数量无限制</p>
            <p>3、设置为正整数，表示限制该币种的数量</p>
            <table class="ui-table table table-bordered">
                <tr class="tr">
                    <th width="10%"></th>
                    <th width="30%">level0</th>
                    <th width="30%">level1</th>
                    <th width="30%">level2</th>
                </tr>
                <tr class="tr" ng-repeat="assets in $root.$coinList">
                    <td class="td-title">{{assets.label}}</td>
                    <td class="td" ng-repeat="item in vm.levels">
                        <div ng-if="vm['limitList_level'+item][assets.value].isEdit===false">
                            <span class="text" ng-if="vm['limitList_level'+item][assets.value].limit==='0'">不限制</span>
                            <span class="text"
                                ng-if="vm['limitList_level'+item][assets.value].limit==='-1' || vm['limitList_level'+item][assets.value].limit===null">禁止转出</span>
                            <span class="text"
                                ng-if="+vm['limitList_level'+item][assets.value].limit>0">{{vm['limitList_level'+item][assets.value].limit}}</span>
                            <span class="text--edit glyphicon glyphicon-edit"
                                ng-click="vm['limitList_level'+item][assets.value].isEdit=true"></span>
                        </div>
                        <span ng-if="vm['limitList_level'+item][assets.value].isEdit===true">
                            <input type="number" ng-model="vm['limitList_level'+item][assets.value].update"
                                class="form-control">
                            <a href="javascript:;" class="link"
                                ng-click="vm['limitList_level'+item][assets.value].update=-1">禁止转出</a>
                            <a href="javascript:;" class="link"
                                ng-click="vm['limitList_level'+item][assets.value].update=0">不限制</a>
                            <a href="javascript:;" class="link"
                                ng-click="vm.updateLimitByLevel(assets.value,vm['limitList_level'+item][assets.value].update,item)"
                                style="color: red">
                                更新</a>
                            <a href="javascript:;" class="link"
                                ng-click="vm['limitList_level'+item][assets.value].isEdit=false"
                                style="color: #2435c7">取消</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- ng-if="vm.showEdit" -->
    <!--  -->
    <form class="form-horizontal edit-form" role="form" ng-if="vm.showEdit">
        <div class="title">
            <div>更新币种<span class="topTitle">{{vm.oldRowData.assetCode}}</span>参数配置</div>
            <div class="closeBtn" ng-click="vm.showEdit = false">X</div>
        </div>
        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">模型</label>
                <div class="col-sm-5" style="display: inline-block;">
                    <select class="form-control" ng-model="vm.oldRowData.modelKey">
                        <option value="available">可用</option>
                        <option value="locking">限制可用</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">支持公链</label>
                <div class="col-sm-7 chain-group" style="width:auto">
                    <!-- {{vm.oldRowData.tokenType}} -->
                    <li ng-repeat="item in vm.allChainList">
                        <input type='checkbox' ng-checked=item.check ng-click='vm.Choose(item)'/>
                        <span>{{item.name}}</span>
                        </label>
                    </li>   
                </div>
            </div>
        </div>
        <div class="out-box" ng-if="vm.oldRowData.modelKey=='available'">
            <div class="form-group">
                <label class="col-sm-5 control-label">充值可用比例</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="充值可用比例"
                        ng-model="vm.oldRowData.AVAILABLE_PARAMETER">%
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">充值矿池比例</label>
                <div class="col-sm-5">
                    <span
                        style="line-height: 34px;font-size: 14px;min-width:180px">{{100-vm.oldRowData.AVAILABLE_PARAMETER}}%</span>
                </div>
            </div>
        </div>
        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">静态释放比例</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="静态释放比例"
                        ng-model="vm.oldRowData.STATIC_FREED_RATE">%
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">静态释放上限</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="静态释放上限"
                        ng-model="vm.oldRowData.STATIC_FREED_UPPER_LIMIT">%
                </div>
            </div>

        </div>

        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">直推</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="直推"
                        ng-model="vm.oldRowData.DYNAMIC_RATE_DIRECT_PUSH">%
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">合伙人</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="合伙人"
                        ng-model="vm.oldRowData.DYNAMIC_RATE_PARTNER">%
                </div>
            </div>

        </div>
        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">超级节点</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="超级节点"
                        ng-model="vm.oldRowData.DYNAMIC_RATE_SUPER_NODE">%
                </div>
            </div>
            <!-- 网络确认数数据绑定 -->
            <div class="form-group">
                <label class="col-sm-5 control-label">网络确认数</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" placeholder="网络确认数"
                        ng-model="vm.oldRowData.ASSETCODECONFIRMNUM">
                </div>
            </div>

        </div>
        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">提币（钱包）精度</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="提币（钱包）精度"
                        ng-model="vm.oldRowData.WITHDRAWPRECISION">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">提币手续费</label>
                <div class="col-sm-5">
                    <input type="number" step="0.001" class="form-control" placeholder="提币手续费"
                        ng-model="vm.oldRowData.WITHDRAWMINFEE">
                </div>
            </div>


        </div>
        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">提币最小额度</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="提币最小额度"
                        ng-model="vm.oldRowData.WITHDRAWMIN">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">提币最大额度</label>
                <div class="col-sm-5">
                    <input type="number" step="0.01" class="form-control" placeholder="提币最大额度"
                        ng-model="vm.oldRowData.WITHDRAWMAX">
                </div>
            </div>
        </div>
        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">充值开关</label>
                <div class="col-sm-5">
                    <div class="status-box">
                        <a href="javascript:;" ng-click="vm.oldRowData.DEPOSITLEVEL_DEFAULT = '0'"
                            ng-class="{'0': 'btn-success', '-1': 'btn-default'}[vm.oldRowData.DEPOSITLEVEL_DEFAULT ]"
                            class="btn">开启</a>
                        <a href="javascript:;" ng-click="vm.oldRowData.DEPOSITLEVEL_DEFAULT = '-1'"
                            ng-class="{'-1': 'btn-success', '0': 'btn-default'}[vm.oldRowData.DEPOSITLEVEL_DEFAULT ]"
                            class="btn btn-default">关闭</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="out-box">
            <div class="form-group">
                <label class="col-sm-5 control-label">功能开关</label>
                <div class="col-sm-5">
                    <div class="status-box">
                        <a href="javascript:;" ng-click="vm.oldRowData.status = 'LISTED'"
                            ng-class="{'LISTED': 'btn-success', 'INIT': 'btn-default'}[vm.oldRowData.status ]"
                            class="btn">开启</a>
                        <a href="javascript:;" ng-click="vm.oldRowData.status = 'INIT'"
                            ng-class="{'INIT': 'btn-success', 'LISTED': 'btn-default'}[vm.oldRowData.status ]"
                            class="btn btn-default">关闭{{vm.oldRowData.status}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12" style="text-align: center;">
                <button style="margin-top: 24px;" type="submit" class="btn btn-default submitBtn"
                    ng-click="vm.confirmEdit(vm.oldRowData)">确认更新</button>
            </div>
        </div>
    </form>
</div>
