<div class="module-setting">
    <ol class="breadcrumb fn-clearfix">
        <li>网站维护</li>
        <li>算力配置</li>
    </ol>
    <div class="ui-box">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="assetCode" class="control-label">请直接输入百分比的数字（100% = 100）就直接输入100</label>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">个人获得IEP配置</label>
                <div class="col-sm-3">
                    <input type="text" maxlength="50" class="form-control" ng-model="vm.form.INDIVIDUAL_TYPE" placeholder="请输入个人获得IEP" id="name"
                    />
                </div>
                <div class="col-sm-7">
                    <span class="description">默认为自身产生算力所得50%（产生10IEP获得5IEP）</span>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">团队获得IEP配置</label>
                <div class="col-sm-3">
                    <input name="" class="form-control" ng-model="vm.form.COMPANY_TYPE" maxlength="50" placeholder="请输入团队获得IEP配置" id="description"
                    />
                </div>
                <div class="col-sm-7">
                    <!-- <span class="description">默认为自身推荐码绑定的交易者所产生算力的20%（绑定的交易者产生10IEP获得2IEP）</span> -->
                    <span class="description">默认为自身推荐码绑定的交易者所产生算力的20%</span>
                </div>
            </div>

            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">直推获得IEP配置</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.BOSS_TYPE" maxlength="256" placeholder="请输入直推获得IEP配置" />
                </div>
                <div class="col-sm-7">
                    <span class="description">默认为交易者所产生算力的30%（交易者产生10IEP获得3IEP）（如果直推有绑定团队，那么团队获得20%，也就是交易者10IEP，团队获得2IEP）</span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">&nbsp;</label>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit()">更新</button>
                </div>
            </div>

            <br/>
            <div class="form-group">
                <label for="assetCode" class="control-label">团队线的分成比例</label>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">一级代理获得IEP配置</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.TEAM_ONE" maxlength="256" placeholder="请输入一级代理获得IEP配置" />
                </div>
                <div class="col-sm-7">
                    <span class="description"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">二级代理获得IEP配置</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.TEAM_TWO" maxlength="256" placeholder="请输入二级代理获得IEP配置" />
                </div>
                <div class="col-sm-7">
                    <span class="description"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">三级级代理获得IEP配置</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.TEAM_THREE" maxlength="256" placeholder="请输入三级级代理获得IEP配置" />
                </div>
                <div class="col-sm-7">
                    <span class="description"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">&nbsp;</label>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit('VIP')">更新</button>
                </div>
            </div>
            <br/>

            <div class="form-group">
                <label for="assetCode" class="control-label">获得奖励冻结配置</label>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">冻结百分比</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.LOCK_NUM_PERCENT" maxlength="256" placeholder="请输入冻结百分比（0.1 - 1）" />
                </div>
                <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" ng-click="vm.submit('LOCK_NUM_PERCENT')">修改</button>
                    </div>
                <div class="col-sm-6">
                    <span class="description">发放奖励冻结的比例（0-1）默认为0.4，（用户获得的活动奖励比如 10IEP ，直接到账6个IEP，冻结4个）</span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">交易统计天数</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.TRADE_COUNT_DAYS" maxlength="256" placeholder="请输入交易统计天数" />
                </div>
                <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" ng-click="vm.submit('TRADE_COUNT_DAYS')">修改</button>
                    </div>
                <div class="col-sm-6">
                    <span class="description">统计用户 （默认30天）的交易总额，进行是否解除奖励冻结</span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">解冻条件</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" ng-model="vm.UNLOCK_NUM_PERCENT[0]" maxlength="2" placeholder="请输入分子" />
                </div>
                <div class="col-sm-1">
                    <input type="text" style="text-align: center;" class="form-control" value="/" disabled />
                </div>
                <div class="col-sm-1">
                    <input type="text" class="form-control" ng-model="vm.UNLOCK_NUM_PERCENT[1]" maxlength="2" placeholder="请输入分母" />
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit('UNLOCK_NUM_PERCENT')">修改</button>
                </div>
                <div class="col-sm-6">
                    <span class="description">
                        客户冻结IEP数量假设为n:解冻条件: （默认为 1/30）<br/>
                        a.(30/5n,10.1)*（1/30）<br/>
                        b.(当天未冻结iep数量/n,最大为1最小为0.1)*（1/30）
                    </span>
                </div>
            </div>


            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">普通用户初始化推荐人数</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.USER_INIT_RECOMMEND_NUM" placeholder="请输入普通用户初始化推荐人数" />
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit('USER_INIT_RECOMMEND_NUM')">修改</button>
                </div>
                <div class="col-sm-6">
                    <span class="description">普通用户初始化推荐人数（默认为20人上限）</span>
                </div>
            </div>
            <div class="form-group">
                <label for="assetCode" class="col-sm-2 control-label">UDC/IEP转换比例</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" maxlength="10" ng-model="vm.form.UDC_CHANGE_POINTS" placeholder="UDC/APA转换比例" id="assetCode"
                    />
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit('UDC_CHANGE_POINTS')">修改</button>
                </div>
                <div class="col-sm-6">
                    <span class="description">1个UDC/APA产生的IEP默认为7IEP（700%）</span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">公司账户UID</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.COMPANY_ACCOUNT" placeholder="请输入公司账户UID" />
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit('COMPANY_ACCOUNT')">修改</button>
                </div>
                <div class="col-sm-6">
                    <span class="description">公司获得奖励的账户</span>
                </div>
            </div>
            <div class="form-group">
            <label for="webUrl" class="col-sm-2 control-label">当日实际分配的总UDC</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="vm.form.ACTUAL_ALLOCATE_POINTS" placeholder="请输入当日实际分配的总UDC（0.1~1）" />
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" ng-click="vm.submit('ACTUAL_ALLOCATE_POINTS')">修改</button>
            </div>
            <div class="col-sm-6">
                <span class="description">当日实际分配的总UDC（请输入0.1--1的数值）</span>
            </div>
        </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">机器人扣减账户</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="vm.form.IEP_ACCOUNT" placeholder="请输入当日实际分配的总UDC（0.1~1）" />
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="vm.submit('IEP_ACCOUNT')">修改</button>
                </div>
                <div class="col-sm-6">
                    <span class="description">机器人扣减账户</span>
                </div>
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">IEP计算对外接口</label>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="vm.UpDate('allocatePointsInit')">IEP初始化</button>
                    &emsp;
                    &emsp;
                    <button type="button" class="btn btn-primary" ng-click="vm.UpDate('allocatePointsCount')">IEP统计</button>
                </div>
            </div>

        </form>
    </div>

</div>
