<div class="module-pass-dialog">
    <form class="form-horizontal">
        <div class="modal-header">
            <h4>拒绝</h4>
        </div>
        <div class="modal-body personalinfo-body">
            <!-- <div class="alert alert-warning" role="alert">
                <div class="title">请输入当前账户密码</div>
            </div> -->
            <div class="row">
                拒绝原因 <br/>
                <select class="form-control" ng-model="vm.keyWord">
                    <option value="">请选择拒绝原因</option>
                    <option ng-repeat="item in vm.CONFIG.FAIL_REASON"  value="{{item}}" >{{item.CN}}</option>
                    <!-- <option value="uid">UID</option>
                    <option value="account">邮箱</option>
                    <option value="uid">证件号</option> -->
                </select>
            </div>
            <div class="row">
                <span class="text">其它原因</span>
                <textarea class="form-control" rows="3" ng-model="$$textarea"></textarea>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">当前账号密码</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" ng-model="$$password" id="password" placeholder="请输入当前账号密码">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$$cancel()">取消</button>
            <button type="submit" class="btn btn-primary" ng-click="$$ok($$password, vm.keyWord, $$textarea)" data-ng-disabled="!$$password || !vm.keyWord">确定</button>
        </div>
    </form>
</div>