<div class="module-c2c">
    <ol class="breadcrumb fn-clearfix">
        <li>c2c / 金牌卖家设置</li>
    </ol>
    <div class="module-golden">
        <div class="ui-box">
            <div class="form-container">
                <div class="body-title">交易手续费</div>
                <form class="form-inline ui-form"
                      ng-repeat="item in $root.$symbolList"
                      role="form">
                    <div class="row">
                        <div class="col-md-1">
                            <span class="text">{{item.label}}</span>
                        </div>
                        <div class="col-md-1">
                            <span class="text">当前费率</span>
                        </div>
                        <div class="col-md-1">
                            <span class="text">{{vm.transactionFee[item.value]}}%</span>
                        </div>
                        <div class="col-md-9">
                            <input type="number"
                                   ng-model="vm.transactionInput[item.value]"
                                   class="form-control">
                            <span class="text">%</span>
                            <a href="javascript:;"
                               ng-click="vm.updateTransactionFee(item.value)"
                               class="link">更新</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
