<div class="module-trade">
    <ol class="breadcrumb fn-clearfix">
        <li>资产管理</li>
        <li>创新区统计</li>
    </ol>
    <div class="ui-box" style="display: none;">
        <div class="body-title">
            <p class="sm_title">USDT手续费分红</p>
            <div class="b_list">
                <div class="i_block">
                    <p class="tip">昨日手续费</p>
                    <p class="tip">(USDT)</p>
                    <p class="tips">{{vm.feeList.yesterdayFee}}</p>
                </div>
                <div class="i_block">
                    <p class="tip">累计手续费</p>
                    <p class="tip">(USDT)</p>
                    <p class="tips">{{vm.feeList.totalFee}}</p>
                </div>
                <div class="i_block">
                    <p class="tip">昨日手续费分红</p>
                    <p class="tip">(USDT)</p>
                    <p class="tips">{{vm.feeList.yesterdayFeeReturn}}</p>
                </div>
                <div class="i_block">
                    <p class="tip">累计手续费分红</p>
                    <p class="tip">(USDT)</p>
                    <p class="tips">{{vm.feeList.totalFeeReturn}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-box" style="margin-top: 10px;">
        <div class="body-title">
            <p class="sm_title">解锁统计</p>
            <div>
                <div class="panel-body">
                    <form class="form-inline ui-form" role="form">
                        <div class="form-group ui-input-select">
                            <label for="coinin-type" class="control-label f-12">币种选择：</label>
                            <select class="form-control" ng-model="vm.condition.assetCode"
                                ng-change="vm.changeCoinType(coinType)" id="coinin-type">
                                <option ng-bind:value="coin.value" ng-repeat="coin in coinList">{{coin.label}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="vm.fetchList()">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="b_list">
                <div class="i_block">
                    <p class="tip">昨日持仓数量</p>
                    <p class="tip">({{vm.condition.assetCode}})</p>
                    <p class="tips">{{vm.list.yesterdayAvailableAmount}}</p>
                </div>
                <div class="i_block">
                    <p class="tip">昨日锁仓数量</p>
                    <p class="tip">({{vm.condition.assetCode}})</p>
                    <p class="tips">{{vm.list.yesterdayLockingAmount}}</p>
                </div>
                <div class="i_block">
                    <p class="tip">昨日持仓解锁</p>
                    <p class="tip">({{vm.condition.assetCode}})</p>
                    <p class="tips">{{vm.list.yesterdayUnlockAmount}}</p>
                </div>
                <div class="i_block">
                    <p class="tip">累计持仓解锁</p>
                    <p class="tip">({{vm.condition.assetCode}})</p>
                    <p class="tips">{{vm.list.totalUnlockAmount}}</p>
                </div>
                <div class="i_block">
                    <p class="tip">昨日奖励解锁</p>
                    <p class="tip">({{vm.condition.assetCode}})</p>
                    <p class="tips">{{vm.list.yesterdayRewardAmount}}</p>
                </div>
                <div class="i_block">
                    <p class="tip">累计奖励解锁</p>
                    <p class="tip">({{vm.condition.assetCode}})</p>
                    <p class="tips">{{vm.list.totalRewardAmount}}</p>
                </div>
            </div>
        </div>
    </div>
</div>