<div class="module-trade">
	<a  href="javascript:;" ng-click="vm.backs()" class="back">
		<span class="glyphicon glyphicon-menu-left"><span>返回上一级</span></span></a>
	<ol class="breadcrumb fn-clearfix">
		<li>用户信息</li>
	</ol>
	<div class="ui-box" style="height:100px;margin-bottom: 30px">
		<div class="user-details">
			<div>
				<div>用户等级：{{vm.datas[1]== 'VIP1' ? '一级代理' : vm.datas[1] == 'VIP2' ? '二级代理' : '三级代理'}}</div>
				<div>直接下级人数：{{vm.list.lowerMemberPerson}}人</div>
			</div>
			<div>
				<div>该团队线人数：{{vm.datas[2]}}人</div>
				<div>团队推荐总人数：{{vm.list.invitePerson}}人</div>
				<!--<div>团队总收益：{{vm.list.teamAssetTypeAndAllProfit}}</div>-->
			</div>
		</div>
	</div>
	<ol class="breadcrumb fn-clearfix" style="width:580px;">
		<li>团队总收益</li>
	</ol>
	<div class="ui-box" style="width:580px;margin-bottom: 32px">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>收益类型</th>
					<!-- <th>交易奖励</th>
					<th>注册奖励</th>
					<th>抽奖奖励</th>
					<th>邀请奖励</th> -->
					<th ng-repeat="item in vm.list.teamAssetTypeAndAllProfit">{{vm.statusText(item.name)}}</th>
					<th>团队分红奖励</th>
				</tr>
			</thead>
			<tbody>
				<tr  ng-if="vm.isLoading === false && vm.list.teamAssetTypeAndAllProfit.length>0">
					<td>IEP</td>
					<td ng-repeat="item in vm.list.teamAssetTypeAndAllProfit">{{item.val}}</td>
					<td >{{vm.list.allTeamAssetCoinAndNum.IEP}}</td>
				</tr>
				<tr class="ui-no-data" ng-if="vm.isLoading === false && (vm.list.teamAssetTypeAndAllProfit.length === 0||vm.list===null)">
					<td colspan="6">暂无数据</td>
				</tr>
				<tr class="ui-loading" ng-if="vm.isLoading === true">
					<td colspan="6">正在加载，请稍候...</td>
				</tr>
			</tbody>
		</table>
	</div>

	<ol class="breadcrumb fn-clearfix" style="width:484px;">
		<li>用户分红收益</li>
	</ol>
	<div class="ui-box" style="width:484px;margin-bottom: 32px">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>币种</th>
					<th ng-repeat="item in vm.list.assetCoinAndNum">{{item.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr  ng-if="vm.isLoading === false && vm.list.assetCoinAndNum.length>0">
					<td>总收益</td>
					<td ng-repeat="item in vm.list.assetCoinAndNum">{{item.val}}</td>
				</tr>
				<tr class="ui-no-data" ng-if="vm.isLoading === false && (vm.list.assetCoinAndNum.length === 0||vm.list===null)">
					<td colspan="6">暂无数据</td>
				</tr>
				<tr class="ui-loading" ng-if="vm.isLoading === true">
					<td colspan="6">正在加载，请稍候...</td>
				</tr>
			</tbody>
		</table>
	</div>


	<ol class="breadcrumb fn-clearfix">
		<li ng-if="vm.datas[1]=='VIP1' || vm.datas[1]=='VIP2' ">团队信息</li>
		<li ng-if="vm.datas[1]=='VIP3'">邀请人信息</li>
	</ol>

	<!--<div class="panel panel-warning">-->
		<!--<div class="panel-body">-->
			<!--<form class="form-inline ui-form" role="form">-->
				<!--<div class="form-group ui-input-select">-->
					<!--<label for="record-uid" class="control-label f-12">uid：</label>-->
					<!--<input type="text" class="form-control " placeholder="UID" ng-model="uid" id="record-uid">-->
				<!--</div>-->
				<!--&lt;!&ndash;<div class="form-group ui-input-select">&ndash;&gt;-->
					<!--&lt;!&ndash;<label for="record-uid" class="control-label f-12">等级搜索：</label>&ndash;&gt;-->
					<!--&lt;!&ndash;<input type="text" class="form-control " placeholder="vip" ng-model="vip" id="record-uid">&ndash;&gt;-->
				<!--&lt;!&ndash;</div>&ndash;&gt;-->
				<!--<div class="form-group ui-input-select">-->
						<!--<label for="coinin-type" class="control-label f-12">等级搜索：</label>-->
						<!--<select class="form-control" ng-model="vm.status" placeholder="请选择状态">-->
								<!--<option value="{{coin.value}}" ng-repeat="coin in status">{{coin.label}}</option>-->
						<!--</select>-->
				<!--</div>-->
				<!--<div class="form-group ui-input-select">-->
					<!--<button type="submit" class="btn btn-primary" ng-click="vm.fetchList()">搜索</button>-->
				<!--</div>-->

			<!--</form>-->
		<!--</div>-->
	<!--</div>-->

	<div class="ui-box">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>UID</th>
					<th>邮箱</th>
					<th ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' " >等级</th>
					<th ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' ">直接下级人数</th>
					<th>交易挖矿IEP</th>
					<th ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' ">贡献时间</th>
					<th ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' ">操作</th>
					<!--ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' "-->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.list.teamUserInfoDtoList" ng-if="vm.isLoading === false && vm.list.teamUserInfoDtoList.length > 0">
					<td>{{item.uid}}</td>
					<td>{{item.email}}</td>
					<td ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' " >{{item.memberType == 'VIP1' ? '一级代理' : item.memberType == 'VIP2' ? '二级代理' : '三级代理'}}</td>
					<td ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' ">{{item.lowerMemberPerson}}</td>
					<td>{{item.teamAllTradeProfit }}</td>
					<td ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' ">{{$root.moment(item.startTime - 0).utc().utcOffset($root.ZONE).format('YYYY/MM/DD')}} - {{$root.moment(item.endTime - 0).utc().utcOffset($root.ZONE).format('YYYY/MM/DD')}}</td>
					<!--<td></td>-->
					<!--<td>{{$root.moment(item.updateTime - 0).utc().utcOffset($root.ZONE).format('YYYY-MM-DD HH:mm:ss')}}</td>-->
					<!--<td ng-class="{-->
						<!--greentradedetail:(item.bindStatus=='BIND_SUCCESS'),-->
						<!--redtradedetail:(item.bindStatus=='APPLY_FOR_BIND')}" >-->
						<!--{{vm.returnUserState(item.bindStatus)}}-->
					<!--</td>-->
					<!--<td></td>-->
					<td ng-if="vm.datas[1] === 'VIP1'|| vm.datas[1] === 'VIP2' ">
						<div>
							<!--<a href="{{'#/commonusers/team/performance/teamDetails?uid='+item.uid+'&'+'memberType='+item.memberType+'&'+'teamAllPerson='+item.teamAllPerson}}">详情</a>-->
							<a href='javascript:;' ng-click="vm.detailss(item.uid,item.memberType,item.teamAllPerson)">详情</a>
						</div>
					</td>
				</tr>
				<tr class="ui-no-data" ng-if="vm.isLoading === false && (vm.list.length === 0||vm.list===null)">
					<td colspan="6">暂无数据</td>
				</tr>
				<tr class="ui-loading" ng-if="vm.isLoading === true">
					<td colspan="6">正在加载，请稍候...</td>
				</tr>
			</tbody>
		</table>

		<!--<div class="ui-pager-box" ng-if="vm.totalNum > 0">-->
			<!--<ul uib-pagination previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" total-items="vm.totalNum" ng-model="vm.condition.pageNo"-->
			  <!--max-size="5" items-per-page="vm.pageSize || 10" align="right" class="pagination" boundary-links="true" ng-change="vm.pageChanged()"-->
			  <!--rotate="false">-->
			<!--</ul>-->
		<!--</div>-->
	</div>
</div>