<div class="module-setting">
    <ol class="breadcrumb fn-clearfix">
        <li>网站维护</li>
        <li>增加交易</li>
    </ol>
    
    <div class="ui-box">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="assetCode2" class="col-sm-1 control-label" style="min-width: 160px">交易币种</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="vm.form.assetCode2" id="assetCode2">
                        <option value="">请选择</option>
                        <option value="{{item.value}}"
                                ng-repeat="item in $root.$coinList">
                            {{item.label}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-7">
                    <span class="description">必选，例如刚刚添加的新币种，如AAA、BBB等</span>
                </div>
            </div>

            <div class="form-group">
                <label for="amountPrecision" class="col-sm-1 control-label" style="min-width: 160px">交易币种数量精度</label>
                <div class="col-sm-3">
                    <input type="number"
                           class="form-control"
                           maxlength="50"
                           ng-model="vm.form.amountPrecision"
                           placeholder="请输入交易币种数量精度"
                           id="amountPrecision"/>
                </div>
                <div class="col-sm-7">
                    <span class="description">必填（前端展示），例如填写4，那么AAA进行交易时的挂单和成交数量的小数精度为4位，如XX.XXXX</span>
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label for="assetCode1" class="col-sm-1 control-label" style="min-width: 160px">计价币种</label>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="vm.form.assetCode1" id="assetCode1">
                        <option value="">请选择</option>
                        <option value="{{item.label}}"
                                ng-repeat="item in vm.PRICE_COIN_LIST">
                            {{item.label}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-7">
                    <span class="description">必选，例如选择了BTC，那么AAA的单价以BTC进行衡量；选择了USDT，那么AAA的单价以USDT进行衡量</span>
                </div>
            </div>

            <div class="form-group">
                <label for="pricePrecision" class="col-sm-1 control-label" style="min-width: 160px">计价币种精度</label>
                <div class="col-sm-3">
                    <input type="number"
                           class="form-control"
                           maxlength="50"
                           ng-model="vm.form.pricePrecision"
                           placeholder="请输入计价精度"
                           id="pricePrecision"/>
                </div>
                <div class="col-sm-7">
                    <span class="description">必填（前端展示），例如填写8，如果计价币种为BTC，那么AAA的单价为X.XXXXXXXX BTC，如果填写4，那么AAA的单价为X.XXXX BTC</span>
                </div>
            </div>

            <div class="form-group">
                <label for="highlightNo" class="col-sm-1 control-label" style="min-width: 160px">计价币种高亮位数</label>
                <div class="col-sm-3">
                    <input type="number"
                           class="form-control"
                           maxlength="50"
                           ng-model="vm.form.highlightNo"
                           placeholder="请输入计价币种高亮位数"
                           id="highlightNo"/>
                </div>
                <div class="col-sm-7">
                    <span class="description">必填（前端展示），例如填写4，针对单价如X.XXXXYYYY的价格中的'YYYY'进行高亮显示，即价格的最后4位进行高亮显示</span>
                </div>
            </div>

            <hr>

            <!--<div class="form-group">-->
                <!--<label for="status" class="col-sm-1 control-label" style="min-width: 160px">交易状态</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<select class="form-control" ng-model="vm.form.status" id="status">-->
                        <!--<option value="">请选择状态</option>-->
                        <!--<option value="{{item.value}}"-->
                            <!--ng-repeat="item in vm.data.status">-->
                            <!--{{item.label}}-->
                        <!--</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-sm-7">-->
                    <!--<span class="description">必填，交易状态</span>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="form-group">-->
                <!--<label for="title" class="col-sm-1 control-label" style="min-width: 160px">标题显示</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--ng-model="vm.form.title"-->
                       <!--placeholder="请输入标题显示。如ACT/BTC"-->
                       <!--id="title"-->
                    <!--/>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<span class="description">必填，请输入标题显示，如ACT/BTC</span>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label for="description" class="col-sm-1 control-label" style="min-width: 160px">交易对描述</label>
                <div class="col-sm-3">
                    <textarea name=""
                              class="form-control"
                              style="width: 100%"
                              ng-model="vm.form.description"
                              maxlength="256"
                              placeholder="请输入币种描述，256个字符以内"
                              id="description"
                              rows="10"></textarea>
                </div>
                <div class="col-sm-7">
                    <span class="description">选填</span>
                </div>
            </div>
            

            <!--<div class="form-group">-->
                <!--<label for="minPrecision1" class="col-sm-1 control-label" style="min-width: 160px">计价币种最小精度</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--ng-model="vm.form.minPrecision1"-->
                       <!--placeholder="请输入计价币种最小精度"-->
                       <!--id="minPrecision1"-->
                    <!--/>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<span class="description">选填，请输入计价币种最小精度</span>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label for="minPrecision2" class="col-sm-1 control-label" style="min-width: 160px">新加交易币种最小精度</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--ng-model="vm.form.minPrecision2"-->
                       <!--placeholder="请输入新加交易币种最小精度"-->
                       <!--id="minPrecision2"-->
                    <!--/>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<span class="description">选填，请输入新加交易币种最小精度</span>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label for="minAmount1" class="col-sm-1 control-label" style="min-width: 160px">计价币种最小数量</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--ng-model="vm.form.minAmount1"-->
                       <!--placeholder="请输入计价币种最小数量"-->
                       <!--id="minAmount1"-->
                    <!--/>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<span class="description">选填，请输入计价币种最小数量</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="minAmount2" class="col-sm-1 control-label" style="min-width: 160px">新加交易币种最小数量</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--ng-model="vm.form.minAmount2"-->
                       <!--placeholder="请输入新加交易币种最小数量"-->
                       <!--id="minAmount2"-->
                    <!--/>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<span class="description">选填，请输入新加交易币种最小数量</span>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="form-group">-->
                <!--<label for="maxAmount1" class="col-sm-1 control-label" style="min-width: 160px">计价币种最大数量</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--ng-model="vm.form.maxAmount1"-->
                       <!--placeholder="请输入计价币种最大数量"-->
                       <!--id="maxAmount1"-->
                    <!--/>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<span class="description">选填，请输入计价币种最大数量</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="maxAmount2" class="col-sm-1 control-label" style="min-width: 160px">新加交易币种最大数量</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--ng-model="vm.form.maxAmount2"-->
                       <!--placeholder="请输入新加交易币种最大数量"-->
                       <!--id="maxAmount2"-->
                    <!--/>-->
                <!--</div>-->
                <!--<div class="col-sm-3">-->
                    <!--<span class="description">选填，请输入新加交易币种最大数量</span>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label for="description" class="col-sm-1 control-label" style="min-width: 160px">&nbsp;</label>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" ng-click="vm.submit()">添加</button>
                </div>
            </div>

        </form>
    </div>

</div>
