<div class="module-setting">
    <div class="ui-box">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="assetCode" class="control-label">获得奖励冻结配置</label>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">指定用户</label>
                <div class="col-sm-13" style="width: 40%; float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
                    <input type="text" class="form-control" ng-model="$$uid" maxlength="256" placeholder="请输入用户UID" />
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">配置币种</label>
                <div class="col-sm-13" style="width: 40%; float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
                    <select class="form-control" ng-model="vm.form.ASSETCODES" id="assetCode2">
                        <option value="">请选择</option>
                        <option value="{{item.value}}"
                                ng-repeat="item in $root.$coinList">
                            {{item.label}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">冻结百分比</label>
                <div class="col-sm-13" style="width: 40%; float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
                    <input type="text" class="form-control" ng-model="$$percentageFreezing" maxlength="256" placeholder="请输入冻结百分比（0.1 - 1）" />
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">交易统计天数</label>
                <div class="col-sm-13" style="width: 40%; float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
                     <span ng-if="vm.totalInfo.isenable==='LOCK'">
                    <input type="text" class="form-control" maxlength="256" disabled placeholder="请输入交易统计天数" />
                    </span>
                    <span ng-if="vm.totalInfo.isenable==='UNLOCK'">
                        <input type="text" class="form-control" ng-model="vm.form.TRADE_COUNT_TIME" maxlength="256" placeholder="请输入交易统计天数" />
                    </span>
                </div>
                <div class="col-sm-1">
                    <span class="btn btn-danger" ng-click="vm.lock('UNLOCK')" ng-model="vm.form.UNLOCK" value="LOCK" ng-if="vm.totalInfo.isenable==='LOCK'">锁定</span>
                    <span class="btn btn-success" ng-click="vm.unlock('LOCK')" ng-model="vm.form.UNLOCK" value="UNLOCK" ng-if="vm.totalInfo.isenable==='UNLOCK'">解锁</span>
                </div>
            </div>
            <div class="form-group">
                <label for="webUrl" class="col-sm-2 control-label">解冻条件</label>
                <div class="col-sm-1" style="width:18.333333%;">
                    <input type="text" class="form-control" ng-model="$$UNLOCK_NUM_PERCENTS[0]" maxlength="2" placeholder="请输入分子" />
                </div>
                <div class="col-sm-1" style="width:18.333333%;">
                    <input type="text" style="text-align: center;" class="form-control" value="/" disabled />
                </div>
                <div class="col-sm-1" style="width:18.333333%;">
                    <input type="text" class="form-control" ng-model="$$UNLOCK_NUM_PERCENTS[1]" maxlength="2" placeholder="请输入分母" />
                </div>

            </div>
            <div class="form-group ui-input-select" style="margin-left:96px;">
                <button type="button" class="btn btn-default" ng-click="$$cancel()">取消</button>
                <button type="submit"
                        class="btn btn-primary form-btn"
                        ng-click="$$ok($$uid,vm.totalInfo.isenable,vm.form.ASSETCODES,$$percentageFreezing,vm.form.TRADE_COUNT_TIME,vm.form.TRADE_COUNT_TIME,$$UNLOCK_NUM_PERCENTS[0],$$UNLOCK_NUM_PERCENTS[1])">修改</button>
            </div>
        </form>
    </div>
</div>