<div class="module-trade">
    <ol class="breadcrumb fn-clearfix">
        <li>VDS挖矿地址管理</li>
    </ol>

    <div class="panel panel-warning">
        <div class="panel-body">
            <form class="form-inline ui-form" role="form">
                <div class="form-group ui-input-select">
                    <label for="record-uid" class="control-label f-12">地址ID：</label>
                    <input type="text" class="form-control " placeholder="ID" ng-model="vm.id" id="record-uid">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="vm.fetchList()">搜索</button>
                </div>
                <div class="form-group">
                    <button type="submit" style="width: 100%;" class="btn btn-primary"
                        ng-click="vm.showAdd()">新增挖矿地址</button>
                </div>
            </form>
        </div>
    </div>

    <div class="ui-box">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>节点ID</th>
                    <th>节点地址</th>
                    <th>节点状态</th>
                    <th>节点在线时间</th>
                    <th>日收益</th>
                    <th>总收益</th>
                    <th>抽签</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.list" ng-if="vm.isLoading === false && vm.list.length > 0">
                    <td>{{item.id}}</td>
                    <td>{{item.nodeId}}</td>
                    <td>{{item.nodeAddress}}</td>
                    <td>
                        <input type="text" style="width: 60px;" ng-model="item.nodeStatus"
                            class="form-control coin-input">
                        <a href="javascript:;" ng-click="vm.setStatus('nodeStatus',item)" class="link">更新</a>
                    </td>
                    <td>
                        <input type="text" style="width: 60px;" ng-model="item.onlineTime"
                            class="form-control coin-input">
                        <a href="javascript:;" ng-click="vm.setStatus('onlineTime',item)" class="link">更新</a>
                    </td>
                    <td>
                        <input type="text" style="width: 60px;" ng-model="item.dayProfit"
                            class="form-control coin-input">
                        <a href="javascript:;" ng-click="vm.setStatus('dayProfit',item)" class="link">更新</a>
                    </td>
                    <td>
                        <input type="text" style="width: 60px;" ng-model="item.allProfit"
                            class="form-control coin-input">
                        <a href="javascript:;" ng-click="vm.setStatus('allProfit',item)" class="link">更新</a>
                    </td>
                    <td>
                        <input type="text" style="width: 60px;" ng-model="item.draw" class="form-control coin-input">
                        <a href="javascript:;" ng-click="vm.setStatus('draw',item)" class="link">更新</a>
                    </td>
                </tr>
                <tr class="ui-no-data" ng-if="vm.isLoading === false && (vm.list.length === 0||vm.list===null)">
                    <td colspan="13">暂无数据</td>
                </tr>
                <tr class="ui-loading" ng-if="vm.isLoading === true">
                    <td colspan="13">正在加载，请稍候...</td>
                </tr>
            </tbody>
        </table>

        <div class="ui-pager-box" ng-if="vm.totalNum > 0">
            <ul uib-pagination previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"
                total-items="vm.totalNum" ng-model="vm.condition.pageNo" max-size="5" items-per-page="vm.pageSize || 10"
                align="right" class="pagination" boundary-links="true" ng-change="vm.pageChanged()" rotate="false"></ul>
        </div>
    </div>
</div>