<div class="module-asset error-handle">
    <ol class="breadcrumb fn-clearfix">
        <li>对账系统</li>
        <li>差错处理表</li>
    </ol>
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="当前差错" ng-click="vm.toggleTab('CURRENT')">
            <error-handle-current ng-if="vm.selectedBtn=='CURRENT'"></error-handle-current>
        </uib-tab>

        <uib-tab index="1" heading="历史差错" ng-click="vm.toggleTab('HISTORY')">
            <error-handle-history ng-if="vm.selectedBtn=='HISTORY'"></error-handle-history>
        </uib-tab>
    </uib-tabset>
</div>